.stats-alert-history {
  padding: 0 5rem;

  .history-table {
    width: 100%;
  }

  .mat-header-cell {
    text-align: center;
    color: #1B6853 !important;
    font-size: 16px !important;
    font-family: 'Quicksand-bold' !important;
  }

  .mat-cell {
    text-align: center;
  }
}
.disabled {
  opacity: .7 !important;
}
